.venv
#TODO add instructions to the README
!/data_functions/raw_data/
!/data_functions/clean_data/
!/key_vault.py
#TODONE do the ablations need to be in the final Github? no
!/baseline_pmgpt2/Helpdesk.csv
!/baselines

!/.env


#Outdated files TODO delete before final submission
!/older_folder/
